
/noter1.txt

Docker/host_volumes/pi.local/*
!Docker/host_volumes/pi.local/.keep


Docker/host_volumes/cache/*
!Docker/host_volumes/cache/.keep

Docker/host_volumes/config/*
!Docker/host_volumes/config/mopidy


Docker/host_volumes/Music/*
!Docker/host_volumes/Music/.keep


Docker/host_volumes/transport/*
!Docker/host_volumes/transport/.keep

Docker/host_volumes/data/mopidy/http/*
Docker/host_volumes/data/mopidy/local//
Docker/host_volumes/data/mopidy/m3u/*
Docker/host_volumes/data/mopidy/media/*

!Docker/host_volumes/data/mopidy/http/.keep
!Docker/host_volumes/data/mopidy/local/.keep
!Docker/host_volumes/data/mopidy/m3u/.keep
!Docker/host_volumes/data/mopidy/media/.keep

