# Get rid of joe's bak files
*~

/config/mopidy/*
!/config/mopidy/.keep
!/config/mopidy/podcast/.keep

/data/mopidy/local/library.db

/data/mopidy/m3u/*
!/data/mopidy/m3u/.keep

/data/mopidy/core/*
!/data/mopidy/core/.keep

/data/mopidy/iris/*
!/data/mopidy/iris/.keep

/data/mopidy/spotify/*
!/data/mopidy/spotify/.keep

/config/mopidy/*
!/config/mopidy/.keep
!/config/mopidy/podcast/.keep

/transport/*
!/transport/.keep